<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="top_img">
       <%= image_tag "icon/Movie_kachin.png" %>
    </div>
    <h1 class="text-white">Movie Log</h1>
    <div class="row">
      <div class="col-md">
        <%= link_to 'Sign up', new_user_path, class: 'btn-white' %>
        <%= link_to 'Log in', login_path, class: 'btn-white' %>
      </div>
    </div>
  </div>
</div>
