<div class="movie-index-wrapper">
<h1 class="text-center text-white">Check List</h1>
<div class="movie-index-wrapper">
  <div class="movie-container">
    <% @check_movies.each do |movie| %>
      <div class="movie-index-single">
        <div class="movie-author">
          <%= link_to movie.title, movie_path(movie.id) %>
          <% if movie.image? %>
          <%= image_tag movie.image.url, class: 'movie-image' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>