body {
  background-color: #666666;
}

.top_img {
  text-align: center;
  height: 100px;
}

h1 {
  text-align:center;
  font-family: "Gill Sans", sans-serif;
  font-stretch: condensed;
  font-weight: lighter;
}

.text-white {
  color: #fff;
  font-family: "Gill Sans", sans-serif;
  font-stretch: condensed;
  font-weight: lighter;
}

.row {
  text-align: center;
}

.col-md {
  margin-top: 20px;
}
.btn-white {
  width: 90px;
  height: 30px;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 3px;
  transition: .4s;
  margin: 15px;
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  font-stretch: condensed;
  font-weight: lighter;
  
  &:hover {
    color: #800080;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #666666;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #666666;
  
  .users-new-container {
    padding-top: 220px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  
}

.navbar-transparent {
  margin: 0px;
  padding: 0px;
  background-color: #FF1493;
  a {
    color: #fff !important;
  }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  img {
    margin: 10px 10px 10px 30px;
    height: 50px;
  }
 
  ul {
    display: flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 30px 20px 10px;
    
    img {
      margin: 15px 10px 10px 7px;
      height: 25px;
    }
    
    li {
      list-style-type: none;
    }
  }
}

.movies-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #666666;
  
   .movies-new-container {
    padding-top: 220px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.btn-block {
  color: #FF1493;
  border: 1px solid #FF1493;
  padding: 0px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.0);
  
  &:hover {
    color: #FFFFFF;
  }
}

.movie-new-wrapper {
  padding-top: 120px;
}

.movie-index-wrapper {
  background-color: #666666;
  .movie-index-single {
    background-color: #CCCCCC;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FF1493;
    border-radius: 3px;
    .movie-author {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
  }
}

.text-field {
  height: 30px;
  width: 300px;
  margin-top: 20px;
}