body {
  background-color: #111111;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

}

.top_img {
  text-align: center;
  height: 100px;
}

h1 {
  text-align:center;
  font-family: "Gill Sans", sans-serif;
  font-stretch: condensed;
  font-weight: lighter;
  font-size: 50px;
  margin: 40px 0 10px 0;
  color: white;
}

.text-white {
  color: #fff;
  font-family: "Gill Sans", sans-serif;
  font-stretch: condensed;
  font-weight: lighter;
}

.row {
  text-align: center;
}

.col-md {
  margin-top: 20px;
}
.btn-white {
  width: 90px;
  height: 30px;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 3px;
  transition: .4s;
  margin: 15px;
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  font-stretch: condensed;
  font-weight: lighter;
  
  &:hover {
    color: #800080;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #111111;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #111111;
  
  .users-new-container {
    padding-top: 220px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-transparent {
  margin: 0px;
  padding: 0px;
  background-color: black;
  
  a {
    color: #fff !important;
  }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  img {
    margin: 10px 10px 10px 30px;
    height: 50px;
  }
 
  ul {
    display: flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 30px 20px 10px;
    
    img {
      margin: 15px 10px 10px 7px;
      height: 30px;
    }
    
    li {
      list-style-type: none;
    }
  }
}

.movies-new-wrapper {
  padding-top: 120px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #111111;
  
  .movies-new-container {
    padding-top: 220px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.btn-block {
  color: #FF1493;
  border: 1px solid #FF1493;
  padding: 0px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.0);
  
  &:hover {
    color: #FFFFFF;
  }
}

.movie-new-wrapper {
  padding-top: 120px;
}

.movie-index-wrapper {
  background-color: #111111;
  
  .movie-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    &:before {
      content: "";
      display: block;
      width: 350px;
      height: 0;
      order: 1;
    }
    
    &:after {
      content: "";
      display: block;
      width: 350px;
      height: 0px;
    }
  }
  
  .movie-index-single {
    background-color: #111111;
    width: 350px;
    height: 600px;
    padding-bottom: 10px;
    margin: 20px 0px;
    border: solid 0.1px #555555;
    
    .movie-author {
      text-align: center;
      margin: 20px 0 20px 0;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 38px;
      
      a {
        text-decoration: none;
        text-shadow:
          0.6px 0 0 #DDDDDD,
          0 0.6px 0 #DDDDDD,
          -0.6px 0 0 #DDDDDD,
          0 -0.6px 0 #DDDDDD;
        color: #111111;
      }
    }
    
    .movie-image {
      display: block;
      margin: auto;
      width: 300px;
      height: 400px;
      object-fit: contain;
    }
    .movie-count {
      width: 50px; height: 30px;
      float: left;
      margin: 40px 0 0 30px;
      
      .movie-index-icon {
        width: 30px; height: 30px;
        object-fit: contain;
      }
      .count {
        color: white;
        font-size: 13px;
      }
    }
  }
}

.movie-show-wrapper {
  width: 100%;
  height: 100%;
  background-color: #111111;
  
  .movie-show-container {
    width: 100%;
    height: 700px;

    .movie-show-single {
      width: 50%;
      height: 700px;
      padding-bottom: 10px;
      margin: 5px 0px 20px 0;
      float: left;
      
      .movie-image {
        display: block;
        margin: auto;
        width: 350px;
        height: 450px;
        object-fit: contain;
      }
      
      .movie-count {
        width: 300px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        
        .movie-show-count {
          width: 60px; height: 40px;
          float: left;
          margin: 0 20px;
          
          .movie-show-icon {
            width: 40px; height: 40px;
            object-fit: contain;
          }
          .count {
            color: white;
            font-size: 13px;
          }
        }
      }
      .movie-show-author {
        text-align: center;
        margin: 20px 0 20px 0;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 45px;
        
        a {
          text-shadow:
            0.6px 0 0 #DDDDDD,
            0 0.6px 0 #DDDDDD,
            -0.6px 0 0 #DDDDDD,
            0 -0.6px 0 #DDDDDD;
          color: #111111;
        }
      }
    }
    .movie-show-body {
      width: 50%;
      height: auto;
      padding-bottom: 10px;
      margin: 75px 0px 20px 0;
      float: right;
      
      .movie-body-container {
        width: 600px;
        height: auto;
        .movie-body-item {
          width: 600px;
          height: auto;
          border-left: solid 3px #C299FF;
          margin-left: 20px;
          
          h2 {
            margin-left: 15px;
            text-shadow:
              0.6px 0 0 #DDDDDD,
              0 0.6px 0 #DDDDDD,
              -0.6px 0 0 #DDDDDD,
              0 -0.6px 0 #DDDDDD;
            color: #111111;
            font-size: 25px;
          }
        }
        .text-field {
          width: 600px;
          height: auto;
          margin-left: 30px;
          a {
            color: white;
          }
        }
      }
      .post-menu {
        text-align: right;
        margin: 100px 120px 0px 0px;
        
        .edit-btn-border {
          display: inline-block;
          max-width: 100px;
          text-align: left;
          border: 1px solid #C299FF;
          font-size: 10px;
          color: #C299FF;
          text-decoration: none;
          font-weight: bold;
          padding: 5px 16px;
          border-radius: 4px;
          transition: .4s;
        }
      }
    }
  }
  .movie-review-container {
    max-width: 100%;
    height: 800px;
    .movie-review-title {
      width: 100%;
      height: 60px;
      float: left;
      margin-left: 50px;
      margin-bottom: 20px;
      
      a {
        font-size: 25px;
        float: left;
        color: white;
      }
        
      .review-btn-border {
        text-align: center;
        margin: 6px 0 0 30px;
        display: inline-block;
        width: 60px;
        border: 1px solid #C299FF;
        font-size: 10px;
        color: #C299FF;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 16px;
        border-radius: 4px;
        transition: .4s;
      }
    }
    .movie-review-list {
      max-width: 100%;
      height: auto;
      clear: left;
      margin: 20px 0 50px 100px;
      
      .user-icon {
        height: 100px;
        width: 100px;
        object-fit: contain;
        border-radius: 20px;
        float: left;
        margin-right: 40px;
      }
      
      .review-user-name {
        color: white;
        height: 50px;
        
        a {
          font-size: 20px;
          display: inline-block;
          vertical-align: middle;
        }
        .review-btn-border {
          text-align: center;
          margin-left: 30px;
          display: inline-block;
          width: 60px;
          border: 1px solid #C299FF;
          font-size: 10px;
          color: #C299FF;
          text-decoration: none;
          font-weight: bold;
          padding: 5px 16px;
          border-radius: 4px;
          transition: .4s;
        }
      }
      
      .review-body {
        max-width: 100%;
        margin-top: 10px;
        margin-bottom: 50px;
        
        a {
          color: white;
        }
      }
    }
  }
}
.text-field {
  height: 30px;
  width: 300px;
  margin-top: 20px;
}

.user-icon {
  height: 130px;
  width: 130px;
  object-fit: contain;
  border-radius: 20px;
}